/* Get Started */
.get-started{
	text-align:center;
	flex:1;
    width:100%;
	.swiper-wrapper{
		margin-bottom:0;
	}
	.dz-title{
		margin-bottom: 12px;
		font-size: 24px;
	}
	p{
		margin-bottom: 0;
		margin-top: 0;
	}

}
.swiper-btn{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
.swiper-button-prev{
    i{
        transform: rotateY(180deg);
    }
}
.swiper-button-next,
.swiper-button-prev{
    position:unset;
    height:3rem;
    opacity:1;
    width:3rem;
    margin: 0;
    font-size: 1.3rem;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:3rem;
    backgroun: transparent;
    @include transitionMedium;
    color:#767676;
    border:1px solid #CBCBCB;
    i{
       line-height: .5;
    }
    &:after{
        content:none;
    }
    &:hover{
        background:var(--primary);
        color:#fff;
    }
}

.swiper-pagination{
    &.style-1{
		bottom: 0 !important;
		opacity: 1;
		position: unset;
		padding: 10px 0;
		z-index: 1;
        
        .swiper-pagination-bullet {
            margin: 0 4px;
            width: 8px;
            height: 8px;
			border-radius: 50%;
            background: #C4C4C4;
            opacity: 1;
            -webkit-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
            @include transitionMedium;
            
            &-active{
				background: var(--primary);
				transform: scale(1.5);
            }
        }
    }
    &.style-2{
        bottom: 0!important;
        opacity: 1;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 0;
        z-index: 1;
        
        .swiper-pagination-bullet {
            margin: 0 4px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: #fff;
            opacity: 1;
            -webkit-transition: all 0.5s;
            -ms-transition: all 0.5s;
            transition: all 0.5s;
            @include transitionMedium;
            
            &-active{
                background:var(--primary);
            }
        }
    }
}

// swiper box
.started-swiper-box{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
    height: calc(100vh - 80px);
	
    .swiper-slide{
		height: 100%;
		position: relative;
	}
    .dz-media{
        margin: auto auto 40px;
        img{
            max-width: 250px;
        }
    }
	.slide-info{
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
		padding-bottom: 10px;
		background-repeat: no-repeat;
		background-position: top left;
		background-size: 100%;
		z-index: 1;
		position: relative;
	}
	.view-logo{
		margin: auto;
	}
	.view-logo + .slide-content{
		margin-top: 0;
        }
	.slide-content{
        z-index: 1;
        position: relative;
        max-width: 320px;
        margin: auto auto;
        text-align: center;
        padding: 15px 15px 0;
	}
	.bg-icon{
		position: absolute;
		left: 0;
		top: 50%;
		opacity: 0.1;
		transform: translateY(-50%);
	}
}
.page-onboading{
    .swiper-btn{
        margin-top: 0;
    }
}
.page-onboading + .footer{
    background-color: var(--bg-white);
}