//Product Details

.fb{
    padding-bottom: 80px;
    overflow: hidden;
}
.team-swiper-4{
    .swiper-wrapper{
        .swiper-slide{
            &:first-child{
                margin-left: 15px;
            }
            &:last-child{
                margin-right: 15px;
            }
        }
    }
}


.text-underline{
    text-decoration: underline !important;
    text-underline-offset: 3px;
}
.light-text{
    color: $body-color;
    font-size: 0.875rem;
    font-weight: 400;
}
.para-title{
    font-size: 14px;
    font-weight: 400;
}

ul{
    &.list-check{
        line-height: 1.7;
        li{
            color: #313131;
            font-size: 14px;
            margin-left: 30px;
            position: relative;
            &:after{
                content: "\f125";
                font-family: Flaticon;
                width: 5px;
                height: 5px;
                top: 10px;
                color: var(--primary);
                left: -30px;
                border-radius: 30px;
                line-height: 5px;
                position: absolute;
            }
        } 
    }
}
.flex-1{
    flex:1;
}

.team-swiper-4{
    .swiper-slide{
        width: auto;
    }
}
