.brand-title{
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--dark);
    margin-bottom: 12px;
	fontt-family: 'Poppins';
}
.loader-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.main-screen{
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: var(--gradient-bg);
    z-index: 999999;
    .circle-1{
        width: 146px;
        height: 146px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 80px;
        left: -55px;
        overflow: hidden;
        animation: move4 5s infinite;
    }
    .circle-2{
        width: 436px;
        height: 436px;
        border-radius: 50%;
        background: var(--gradient-bg);
        position: absolute;
        z-index: -1;
        top: -170px;
        right: -225px;
        animation: move1 5s infinite;
    }
    .circle-3{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: var(--gradient-bg);
        position: absolute;
        top: 240px;
        left: 80px;
        animation: move3 5s infinite;
    }
    .circle-4{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: var(--gradient-bg);
        position: absolute;
        bottom: 60px;
        left: -40px;
        animation: move1 5s infinite;
    }
    .circle-5{
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: var(--gradient-bg);
        position: absolute;
        bottom: 210px;
        left: 20px;
        animation: move3 5s infinite;
    }
    .circle-6{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--gradient-bg);
        position: absolute;
        bottom: 215px;
        right: 55px;
        animation: move3 5s infinite;
    }
    .circle-7{
        width: 241px;
        height: 241px;
        border-radius: 50%;
        position: absolute;
        bottom: 20px;
        right: -120px;
        overflow: hidden;
        animation: move2 5s infinite;
    }
    .brand-logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .logo{
			width: 130px;
			height: 130px;
			text-align: center;
			line-height: 130px;
			margin: 0 auto;
			border-radius: 45px;
			overflow: hidden;
			box-shadow: 0px 35px 66px 0px rgba(236, 21, 21, 0.24);
			background: linear-gradient(146.31deg, #FFFFFF 1.3%, rgba(255, 255, 255, 0) 84.11%), linear-gradient(145.92deg, #FFEFDC -1.24%, #FFCD90 100%);
			img{
				width: 65px;
				height: 65px;
				min-height: 65px;
			}
            .brand-title{
                margin-top: 10px;
            }
        }
    }
}
@keyframes move1{
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(10px);
    }
}
@keyframes move2{
    0% {
        transform: translateY(-10px) rotate(0);
    }
    50% {
        transform: translateY(-30px) rotate(10deg);
    }
    100% {
        transform: translateY(-10px) rotate(0);
    }
}
@keyframes move3{
    0% {
        transform: translate(30px);
    }
    50% {
        transform: translate(10px);
    }
    100% {
        transform: translate(30px);
    }
}
@keyframes move4{
    0% {
        transform: translateY(-10px) rotate(0);
    }
    50% {
        transform: translateY(-30px) rotate(-10deg);
    }
    100% {
        transform: translateY(-10px) rotate(0);
    }
}


#loading-area {
	&.loading-page-4{
		width: 100%;
		margin-left: 15px;
		margin-right: 15px;
	}
	.load-text .text-load{
		font-weight: 900;
		letter-spacing: 15px;
		display: inline-block;
		color: rgba(0, 0, 0, 0.15);
		position: relative;
		font-size: 30px;
		line-height: 70px;
		letter-spacing: 1px;
		text-align: center;
		user-select: none;
		text-transform: uppercase;
		font-family: var(--font-family-title);
		&:before {
			animation: letters-loading 4s infinite;
			color: var(--title);
			content: attr(data-text);
			left: 0;
			opacity: 0;
			top:0;
			line-height: 70px;
			position: absolute;
			text-transform: uppercase;
		}
		&:nth-child(2):before {animation-delay: 0.2s;}
		&:nth-child(3):before {animation-delay: 0.4s;}
		&:nth-child(4):before {animation-delay: 0.6s;}
		&:nth-child(5):before {animation-delay: 0.8s;}
		&:nth-child(6):before {animation-delay: 1s;}
		&:nth-child(7):before {animation-delay: 1.2s;}
		&:nth-child(8):before {animation-delay: 1.4s;}
	}
}

@keyframes letters-loading{
	0%,
	75%,
	100% {
		opacity: 0;
		transform: rotateY(-90deg);
	}
	25%,
	50% {
		opacity: 1;
		transform: rotateY(0deg);
	}
}